fastapi==0.121.0
uvicorn[standard]==0.38.0
pydantic==2.12.4
pydantic-settings==2.11.0
python-multipart==0.0.20
python-dotenv==1.2.1
httpx==0.28.1
loguru==0.7.3
PyYAML==6.0.3
pandas==2.3.3

# gRPC 相关
grpcio==1.80.0
grpcio-tools==1.80.0
protobuf==6.33.6
grpcio-reflection==1.80.0

# QMT SDK
xtquant==250516.1.1
